h1{
    text-align: center;
    /* padding: 1rem; */
}

.col{
    margin: 100px 1px;
    padding: 10px;
    /* border: 5px solid red; */
}

.orange{
    background-color: orange;
    writing-mode: vertical-lr;
    color: white;
    border: 2px solid red;
    border-radius: 10%;

}

.purple{
    border: 2px solid purple;
    background-color: rgb(230, 204, 255);
    writing-mode: vertical-lr;
    color: rgb(137, 34, 233);
    border-radius: 10%;
    
}

.row{
    background-color: rgb(243, 243, 166);
}

.bgcolor{
    background-color:rgb(243, 243, 166);
}
html{
    background-color: rgb(243, 243, 166);
}

.btnCSS{
    border:2px solid red;
    border-radius: 15%;
    color:white ;
}